@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
.checkbox-container {
  display: flex;
  align-items: center;
}
.checkbox-container input[type='checkbox'] {
  margin-right: 8px;
}
